@model MuzikosSistema.Models.ArtistConsist

@{
    ViewBag.Title = @Html.DisplayFor(model => model.songArtist.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h2>@Model.songArtist.SongArtistType.TypeName @Model.songArtist.Name</h2>
    
@if (Model.songArtist.PhotoLink != null)
{
        <img src="@Url.Content(Model.songArtist.PhotoLink)" alt="IMAGES"  width="400" />
}
        <div>
            <hr />

            <h4> Sudėtis </h4>
            @if (User.Identity.Name == "admin@admin.com")
            {
                <p>
                @Html.ActionLink("Pridėti asmenį", "CreateArtist", new { id = Model.songArtist.Id })
                </p>
            }
        <table class="table">
            <tr>
                <th>
                    Vardas
                </th>
                <th>
                    Pavardė
                </th>
                <th>
                    Tautybė
                </th>
                <th>
                    Gimimo data
                </th>
                <th>
                    Rolė
                </th>
                <th>
                    Stilius
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.artists)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style1.StyleName)
            </td>
            <td>
                @if (User.Identity.Name == "admin@admin.com")
                {
                    @Html.ActionLink("Redaguoti", "EditArtist", new { id = item.Id })  <text>|</text>
                    @Html.ActionLink("Pašalinti", "DeleteArtist", new { id = item.Id }) <text>|</text>
                }

                @if (item.InfoPage != null)
                {
                    <a href=@Html.DisplayFor(modelItem => item.InfoPage)>Informacija </a>
                }
            </td>
        </tr>
}
        </table>
        <h4> Kūriniai </h4>
        <table class="table">
            <tr>

                <th>
                    Dainos pavadinimas
                </th>
                <th>
                    Stilius
                </th>
                <th>
                    Kalba
                </th>
                <th>
                    Įvesta
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model.songs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style1.StyleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Added)
            </td>
            <td>
                @if (User.Identity.Name == "admin@admin.com")
                {
                    @Html.ActionLink("Redaguoti", "Edit/" + item.Id, "Music") <text>|</text>
                    @Html.ActionLink("Pašalinti", "Delete/" + item.Id, "Music") <text>|</text>
                }
                @Html.ActionLink("Klausyti", "Details/" + item.Id, "Music")
            </td>
        </tr>
        }

        </table>

        </div>


        <p>
            @if (User.Identity.Name == "admin@admin.com")
            {
                @Html.ActionLink("Pridėti dainą", "Create/" + Model.songArtist.Id, "Music") <text>|</text> 
                @Html.ActionLink("Redaguoti", "Edit", new { id = Model.songArtist.Id })
                <br /><br />
            }
            @Html.ActionLink("Sugrįžti į atlikėjų sąrašą", "Index")
        </p>

