@model MuzikosSistema.Models.ArtistConsist

@{
    ViewBag.Title = @Html.DisplayFor(model => model.songArtist.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> @Html.DisplayFor(model => model.songArtist.Name)</h2>

<div>
    <hr />

    <h4> Sudėtis </h4>
    <p>
        @Html.ActionLink("Pridėti asmenį", "CreateArtist", new { id = Model.songArtist.Id })
    </p>
    <table class="table">
        <tr>
            <th>
                Vardas
            </th>
            <th>
                Pavardė
            </th>
            <th>
                Tautybė
            </th>
            <th>
                Gimimo data
            </th>
            <th>
                Rolė
            </th>
            <th>
                Stilius
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style1.StyleName)
                </td>
                <td>
                    @Html.ActionLink("Redaguoti", "EditArtist", new { id = item.Id }) |
                    @if (item.InfoPage != null)
                    {
                        <a href=@Html.DisplayFor(modelItem => item.InfoPage)>Informacija </a> <text>|</text>
                    }
                    @Html.ActionLink("Pašalinti", "DeleteArtist", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
    <h4> Kūriniai </h4>
    <table class="table">
        <tr>

            <th>
                Dainos pavadinimas
            </th>
            <th>
                Stilius
            </th>
            <th>
                Įvesta
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.songs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SongName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style1.StyleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Added)
                </td>
                <td>
                    @Html.ActionLink("Redaguoti", "Edit/" + item.Id, "Music") |
                    @Html.ActionLink("Klausyti", "Details/" + item.Id, "Music") |
                    @Html.ActionLink("Pašalinti", "Delete/" + item.Id, "Music")
                </td>
            </tr>
        }

    </table>

</div>


<p>
    @Html.ActionLink("Pridėti dainą", "Create/" + Model.songArtist.Id, "Music") ||
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.songArtist.Id }) ||
    @Html.ActionLink("Sugrįžti į atlikėjų sąrašą", "Index")
</p>

