@model MuzikosSistema.Models.Song

@{
    ViewBag.Title = "Pašalinti dainą";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pašalinti dainą</h2>

<h3>Ar jūs tikrai norite pašalinti @Html.DisplayFor(model => model.SongArtist.Name) - @Html.DisplayFor(model => model.SongName)  ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Dainos pavadinimas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongName)
        </dd>

        <dt>
            Įkelta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Added)
        </dd>

        <dt>
            Grupė/Atlikėjas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SongArtist.Name)
        </dd>

        <dt>
            Stilius
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Style1.StyleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Pašalinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į sąrašą", "Index")
        </div>
    }
</div>
