@model MuzikosSistema.Models.SongConsist

@{
    ViewBag.Title = Model.song.SongArtist.Name + "-" + Model.song.SongName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.song.SongArtist.Name) - @Html.DisplayFor(model => model.song.SongName) </h2>


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Įkelta
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song.Added)
        </dd>

        <dt>
            Stilius
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song.Style1.StyleName)
        </dd>
        <dt>
            Mano peržiūros
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userCount)
        </dd>
        <dt>
            Visų peržiūros
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalCount)
        </dd>
        <dt>
            Laikotarpis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song.TimePeriod)
        </dd>
        <dt>
            Kalba
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song.Language)
        </dd>
        <dt>
            Nuotaika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song.Mood)
        </dd>
        <dt>
            Tempas
        </dt>

        <dd>
            @Html.DisplayFor(model => model.song.Pace)
        </dd>


        @if (Model.youtubeLink != null)
    {
        <dt>
            Youtube
        </dt>
        <dd>
            <iframe width="400" height="300" src="https://www.youtube.com/embed/@Html.DisplayFor(model => model.youtubeLink)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </dd>
}
        @if (Model.spotifyLink != null)
    {
        <dt>
            Spotify
        </dt>
        <dd>
            <iframe src="https://open.spotify.com/embed?uri=spotify:track:@Html.DisplayFor(model => model.spotifyLink)" width="400" height="100" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </dd>
}
        @if (Model.deezerLink != null)
    {
        <dt>
            Deezer
        </dt>
        <dd>
            <iframe scrolling="no" frameborder="0" allowTransparency="true" src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=400&height=100&color=007FEB&layout=dark&size=medium&type=tracks&id=@Html.DisplayFor(model => model.deezerLink)&app_id=1" width="400" height="100"></iframe>
        </dd>
}
        @if (Model.soundCloudLink != null)
    {
        <dt>
            SoundCloud
        </dt>
        <dd>
            <iframe width="400" height="100%" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/@Html.DisplayFor(model => model.soundCloudLink)&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </dd>
}
        <dt>
            Dalintis
        </dt>
        <dd>
            <div class="fb-share-button" data-href="@Request.Url.ToString()" data-width="100px" data-type="box_count"></div>
            <div class="g-plus" data-action="share" data-annotation="vertical-bubble" data-height="25" data-href="@Request.Url.ToString()"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="@Request.Url.ToString()" data-text="@Html.DisplayFor(model => model.song.SongArtist.Name) - @Html.DisplayFor(model => model.song.SongName)" data-via="Muzika" data-count="vertical">Tweet</a>

        </dd>

    </dl>
    <h4>Atlikėjai</h4>

    <table class="table">
        <tr>
            <th>
                Vardas
            </th>
            <th>
                Pavardė
            </th>
            <th>
                Tautybė
            </th>
            <th>
                Gimimo data
            </th>
            <th>
                Rolė
            </th>
            <th>
                Stilius
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.artists)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Style1.StyleName)
                </td>
                @if (item.InfoPage != null)
                {
                    <td>
                        <a href=@Html.DisplayFor(modelItem => item.InfoPage)>Informacija </a>
                    </td>
                }
            </tr>
        }
    </table>
    @Html.ActionLink("Atlikėjo/Grupės puslapis", "Details/" + Model.song.SongArtist.Id, "Artist")

    @if (Model.existsOtherSongs)
    {
        <h4>Kitos @Html.DisplayFor(model => model.song.SongArtist.Name) dainos</h4>
        <table class="table">
            <tr>
                <th>
                    Dainos pavadinimas
                </th>
                <th>
                    Stilius
                </th>
                <th>
                    Kalba
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.artistSongs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SongName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style1.StyleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>

                    <td>
                        @Html.ActionLink("Klausyti", "Details", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    }

    <h4>Panašios dainos</h4>
    <table class="table">
        <tr>
            <th>
                Atlikėjas
            </th>
            <th>
                Dainos pavadinimas
            </th>
            <th>
                Stilius
            </th>
            <th>
                Kalba
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.simillarSongs)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongArtist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style1.StyleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.ActionLink("Klausyti", "Details", new { id = item.Id })
            </td>
        </tr>
        }

    </table>

    @if (Model.existsComments)
    {
        <h4>Komentarai</h4>
        <table class="table">
            <tr>
                <th>
                    Autorius
                </th>
                <th>
                    Komentaras
                </th>
            </tr>
            @foreach (var item in Model.comments)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment1)
                    </td>
                </tr>
            }

        </table>
    }

</div>
<p>
    @Html.ActionLink("Redaguoti", "Edit", new { id = Model.song.Id }) |
    @Html.ActionLink("Pridėti nuorodą", "CreateSongLink", new { id = Model.song.Id }) |
    @Html.ActionLink("Palikti komentarą", "CreateComment", new { id = Model.song.Id }) |
    @Html.ActionLink("Grįžti į sąrašą", "Index")
</p>
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1396861977224095";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<script>
    !function (d, s, id)
    {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s); js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');</script>

<script type="text/javascript">
    (function () {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
</script>